@charset "UTF-8";

/*****************
    Common Styles
*****************/

.clearfix-style {
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}

.clearfix() {
    &:extend(.clearfix-style all);
}


.clear {
    clear: both;
}

/****************
    Wrappers/Layouts
*****************/

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    .content-box();
    padding: 0 30px;
}

.centred {
    text-align: center;
}



.results-table {
    margin: 50px 0;


    th, td {
        padding: 8px 10px;
        text-align: left;
    }

    tr {
        &:nth-child(even) {
            th,td {
                background: #F2F2F2;
            }
        }
    }

    thead {
        tr {
            th {
                border-bottom: 2px solid @grey3;
                &:nth-child(3) {
                    text-align: right;
                }
            }
        }
    }
    tbody {
        td {
            &:nth-child(3) {
                text-align: right;
            }
        }
    }
    tfoot {
        tr {
            td, th {
                border-top: 1px solid @grey3;
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}